/* Body */
body {
    background-color: #f1f1f1;
    font-family: 'PT Sans', sans-serif;
}

/* Header */
.header {
    margin-bottom: 4rem;
}

.header h2 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

h3 {
    border: 2px solid #001f3f;
    border-radius: 1rem;
    background: #fff;
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
}

input.log {
    height: 3rem;
    margin: 1rem auto;
    width: 20%;
    border: none;
    border-radius: 1rem;
}

.header-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1.5rem;
    border: none;
    border-radius: 5px;
    background: #0089ba;
    color: #fff;
    cursor: pointer;
}

.modal-container {
    padding: 1rem;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(131, 131, 131);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 100%;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}

/* Table resultat */
table.result {
    width: 100%;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.result td {
    padding: 0.5rem;
    margin: 0.5rem;
    background: #dddddd;
}

.result a {
    text-decoration: none;
    font-size: 1rem;
}

th {
    text-align: left;
    background-color: #dddddd;
}

input.result {
    width: 100%;
    height: 100%;
    color: #000;
}

tr.result:nth-child(even) {
    background-color: #fff;
}

tr.result:nth-child(odd) {
    background-color: #fff;
}

/* Logga in knapparna */
.submit {
    color: #fff;
    background: #000;
    padding: 1rem;
}

.submit:hover {
    transition: 0.4s;
    color: #000;
    background: #fff;
}

/* Användarnamn */
.username {
    border-radius: 1rem;
    text-decoration: none;
    padding: 0.6rem;
    background: #5a85be;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
}

/* Läs knappen */
.read-btn {
    background-color: #ecf0f1;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 0.7rem;
}

.read-btn:hover {
    background-color: #b3b6b7;
    transition: 0.4s;
}

/* Ny tråd  */
.thread-btn {
    margin-top: 3rem;
    background-color: #ecf0f1;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 0.7rem;
}

.thread-btn:hover {
    background-color: #b3b6b7;
    transition: 0.4s;
}
